@font-face {
  font-family: "Aptos";
  src: url("/fonts/Aptos.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
  
  
@font-face {
  font-family: "Aptos-Light";
  src: url("/fonts/Aptos-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}