<footer class="site-footer">
    <div class="footer-container">
      <div class="footer-section logo-section">
        <img src="/images/logo_wit.png" alt="Logo" class="footer-logo" />
      </div>
      
  
      <div class="footer-section">
        <h4>Navigatie</h4>
        <ul>
          <li><a href="/#over-ons">Over ons</a></li>
          <li><a href="/#aanbod">Aanbod</a></li>
          <li><a href="/#werkwijze">Werkwijze</a></li>
          <li><a href="/#kalender">Kalender</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Contact</h4>
        
        <p>bijles.exponent@gmail.com</p>
        <p>Regio Leuven - Brussel</p>
        <p>BE 1021.639.830</p>
        <p>VOF Bijlesbureau Exponent</p>
        <p>Pitantiehof 9, 3070 Kortenberg</p>
      </div>
  
      <div class="footer-section">
        <h4>Volg ons</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com/people/Bijlesbureau-Exponent/61575124484823/?rdid=krWaxdhwk6D7Xnbz&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1ATMcysiAc%2F" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/bijles_exponent/?igsh=bWc4c3RybnBrZnMz#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <a href="/voorwaarden" class="footer-voorwaarden-link">Algemene Voorwaarden</a>
        <a href="/privacyverklaring" class="footer-voorwaarden-link">Privacyverklaring</a>
      </div>
    </div>
</footer>