<!-- 1. Meta Charset and Viewport -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- 2. Title and Description -->
<title>{{ .Title }} | {{ .Site.Title }}</title>
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="keywords" content="bijles, wiskunde, fysica, chemie, biologie, Leuven, Brussel, Exponent, examencommissie, hogere studies, secundair onderwijs, tutor, tutoring, personal coaching">
<meta name="apple-mobile-web-app-title" content="Exponent" />

<!-- 3. SEO / Verification / Social -->
<meta name="robots" content="index, follow" />
<meta name="google-site-verification" content="o426cNnbAj1T0Ty1rYlTqkAf_bWpeP-DzLDfLGOQW4k" />

<!-- 4. Favicons and Manifest -->
<link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
<link rel="manifest" href="/images/site.webmanifest" />

<!-- 5. CSS Stylesheets -->
<link rel="stylesheet" href="/css/style.css?v=5.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/fontawesome.min.css" integrity="sha512-v8QQ0YQ3H4K6Ic3PJkym91KoeNT5S3PnDKvqnwqFD1oiqIl653crGZplPdU5KKtHjO0QKcQ2aUlQZYjHczkmGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brands.min.css" integrity="sha512-58P9Hy7II0YeXLv+iFiLCv1rtLW47xmiRpC1oFafeKNShp8V5bKV/ciVtYqbk2YfxXQMt58DjNfkXFOn62xE+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
